{
  "extends": "eslint:recommended",
  "globals": {
    "setImmediate": true
  },
  "ecmaFeatures": {
    "arrowFunctions" : true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "restParams": true,
    "templateStrings": true
  },
  "rules": {
    "curly": [1, "multi"],
    "dot-notation": 1,
    "eqeqeq": [1, "smart"],
    "new-cap": 1,
    "no-cond-assign": 1,
    "no-constant-condition": 0,
    "no-empty": 1,
    "no-extra-semi": 1,
    "no-multi-spaces": 1,
    "no-new-wrappers": 1,
    "no-shadow": [1, {"builtinGlobals": true, "hoist": "functions"}],
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-use-before-define": [2, "nofunc"],
    "quotes": [1, "single", "avoid-escape"]
  }
}